## for Local Build

# Mandatory Vars

NAME='Kuhu'
## Name of receiver

PIC='sample-pic.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Bina Daant Wali dadi'
## A Nickname for more personalization

HBD_MSG='Happiest Birthday To bina daant wali Dadi'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2025-01-15'
## Active Date in YYYY-MM-DD format
